<!-- register.component.html -->
<div>
    <h2>Register</h2>
    <form (ngSubmit)="register()">
      <label>Email:</label>
      <input type="email" [(ngModel)]="user.email" name="email" required>
  
      <label>Password:</label>
      <input type="password" [(ngModel)]="user.password" name="password" required>
  
      <label>Username:</label>
      <input type="text" [(ngModel)]="user.username" name="username" required>
  
      <button type="submit">Register</button>
    </form>
  </div>
  